<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <servlet>
    <servlet-name>sp</servlet-name>
    <servlet-class>web.ServletProduit</servlet-class>
    <init-param>
      <param-name>ali</param-name>
      <param-value>maatalla</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>sp</servlet-name>
    <url-pattern>/prodserv</url-pattern>
  </servlet-mapping>
  <display-name>Gestion des Produits</display-name>
</web-app>